$primary: {{ GYM_PRIMARY_COLOR }};
$secondary: {{ GYM_SECONDARY_COLOR }};

// Theme fonts
$font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme (see https://github.com/openedx/edx-bootstrap)
@import "~@edx/edx-bootstrap/scss/open-edx/theme.scss";
