## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from datetime import datetime
  currentYear = datetime.now().year
  import re
%>

<%namespace name='static' file='static_content.html'/>

{% if 'html' in GYM_CONFIG -%}
  {%- if 'footer' in GYM_CONFIG['html'] -%}
    {{ GYM_CONFIG['html']['footer'] }}
  {%- endif -%}
{%- endif %}

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
