## mako
<%namespace name='static' file='/static_content.html'/>

<meta name="robots" content="noindex, nofollow, noimageindex, noarchive, nosnippet, noai, noimageai, nocache" />
<meta name="gym-theme" content="{{ GYM_VERSION }}" />
<meta name="tutor-version" content="{{ TUTOR_VERSION }}" />
<link rel="dns-prefetch" href="{{ GYM_STATIC_ASSETS_URL }}" />
<link rel="dns-prefetch" href="{{ GYM_ROOT_URL }}" />
<link rel="preload" fetchpriority="high" href="{{ GYM_STATIC_ASSETS_URL }}/css/theme.css" as="style" />
<link rel="stylesheet" href="{{ GYM_STATIC_ASSETS_URL }}/css/theme.css" type="text/css" media="all" />
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" as="style" />
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" as="script" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" />
<script async src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"></script>
