## mako

<%page expression_filter="h"/>

<%namespace name='static' file='/static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from lms.djangoapps.branding import api as branding_api
%>

<a class="navbar-brand" href="${branding_api.get_home_url()}" itemprop="url">
  {%- if GYM_LOGO_WHITE_SRC -%}
    <img class="logo-image" src="{{ GYM_CMS_URL }}{{ GYM_LOGO_WHITE_SRC }}" srcset="{{ GYM_CMS_URL }}{{ GYM_LOGO_WHITE_SRCSET}}" alt="{{ GYM_META['title'] }} Home" itemprop="logo" />
  {%- else -%}
    <img class="logo-image" src="${static.url("images/logo-white.png")}" alt="${_("{platform_name} Home").format(platform_name=static.get_platform_name())}" itemprop="logo" />
  {%- endif -%}
</a>