## mako
<%page expression_filter="h" args="secondary_nav" />

<%namespace name='static' file='static_content.html'/>

<%!
import json

from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _

%>

<div class="container">
  <nav class="secondary" role="navigation" aria-label="Secondary">
    <ul>
      % if secondary_nav == "courses": 
        {% for link in GYM_CONFIG['header']['nav']['courses'] %}
          <li><a href="{{ link['href'] }}">{{ link['label'] }}</a></li>
        {% endfor %}
      % elif secondary_nav == "dashboard":
        <li><a href="${reverse('dashboard')}">${_("Dashboard")}</a></li>
        <li>
          <a href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a>
        </li>
        <li><a href="${reverse('account_settings')}">${_("Account")}</a></li>
      % endif
    </ul>
  </nav>
</div>
