$primary: {{ GYM_PRIMARY_COLOR }};
$secondary: {{ GYM_SECONDARY_COLOR }};

// Theme fonts
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-title: $font-family-sans-serif;
$serif: $font-family-sans-serif;
$f-sans-serif: $font-family-sans-serif;
$font-family-serif: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif; 

// Initialize the Open edX Bootstrap theme (see https://github.com/openedx/edx-bootstrap)
@import 'edx-bootstrap/sass/open-edx/theme';
